@import "vars"

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px)
    .label
      bottom: 21%


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
  .visual-content
    width: 55%
    .title-header
      font-size: 49px
    .description-header
      font-size: 58px
    .visual-text
      padding: 0 10px 0 94px

  .header-section
    //min-height: 668px
    min-height: 512px

    .label
      bottom: 24%

    .visual-content
      padding: 58px 15px 20px


/* Large Devices, Wide Screens */
//@media only screen and (max-width : 1400px) and (max-height: 770px)
//  .header-section
//    min-height: 668px
//
//  .label
//    bottom: 24%
//
//  .visual-content
//    padding: 58px 15px 20px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px)
    .visual-content
      .title-header
        font-size: 44px
      .description-header
        font-size: 53px

    .main
      .main-title
        font-size: 30px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    .main
      .main-title
        font-size: 25px

    .main-slider
      .robot
        top: -280px
        right: -71px
        width: 277px
        height: 280px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1190px)
  .visual-content
    width: 60%
    padding: 129px 15px 20px

  .header-section
    min-height: 600px

  .label
    bottom: 25%

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header-section
    .visual-content
      padding: 80px 15px 20px

  .text-items
    color: white


  .visual-content
    width: 100%
    text-align: center
    .visual-text
      border-right: none
      padding: 0 10px 0 10px
    .title-header
      font-size: 42px
      .logo
        margin: 0px 0px -6px 5px
        width: 115px
        height: 45px
    .description-header
      font-size: 50px

  .main
    //padding-top: 276px
    background: white !important
    .main-holder
      padding: 30px 35px 276px
    .main-title
      font-size: 20px
    .main-description
      font-size: 14px
    .main-description-2
      font-size: 20px

  .form-hold
    margin-top: -200px
    h3
      font-size: 24px
    .form-row
      width: 100%
      margin-bottom: 15px
      .maska-input
        transform: skewX(0deg)
      .btn-maska
        //transform: skewX(-20deg)

    .form-grow-4
      //order: 2
      //margin: 0 18px


    .form-control
      height: 42px
      font-size: 18px
      //transform: skewX(-20deg)

    .btn
      height: 42px
      //transform: skewX(20deg)

  .label
    bottom: 40%


  .items-list
    li
      &:after
        content: none
      p
        margin: 3px

  .bottom-items
    .items-list
      display: none
  .items-list
    display: none
    li
      //width: 100%
      &:after
        content: none
        //width: 13px
        //height: 68px
        //border-bottom: 3px solid #ffc20e
        //border-bottom: 4px solid white
        display: inline-block
        vertical-align: middle
        //transform: rotate(45deg)
        position: absolute
        //top: 12px
        right: 0
        &:last-child
          &:after
            content: none




  .main-slider
    .robot
      top: -306px
      right: 0
      width: 290px
      height: 306px





  .items-list.mobile
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    li
      width: 100%
      &:after
        content: ''
        width: 30px
        height: 0
        border: 0
        border-radius: 0
        border-bottom: 2px solid #ffc20e
        display: inline-block
        vertical-align: middle
        //transform: rotate(45deg)
        position: absolute
        top: 100%
        right: 48%
        &:last-child
          &:after
            content: none

  .wrap-h3
    text-align: center
    .h3-mobile
      display: inline

  .items-list .mobile
    li
      &:after
        content: ''
        width: 13px
        height: 68px
        border-bottom: 3px solid #ffc20e
        border-bottom: 4px solid white
        display: inline-block
        vertical-align: middle
        //transform: rotate(45deg)
        position: absolute
        //top: 12px
        right: 0
        &:last-child
          &:after
            content: none

  .main-items
    h3
      display: none

  .sticky
    position: relative
    top: 0px
    z-index: 9999

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.visual-content
      padding: 15px 15px 20px
      .title-header
        font-size: 33px
        .logo
          width: 97px
          height: 38px
      .description-header
        font-size: 39px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .main
      padding-bottom: 215px

    .bottom-section
      margin-top: -160px
      padding: 180px 0 10px
      background-image: url(../img/bg-mob2.png)
      background-repeat: no-repeat
      //background-size: cover

    .background-logo
      position: relative
      margin: 0 25% 30px
      width: 105px
      //height: 48px

    .visual-content
      .title-header
        display: none
        font-size: 22px
        .logo
          width: 73px
          height: 28px
      .title-header.mobile-title
        display: inline-block
        line-height: 1.45
      .description-header
        font-size: 25px

    .form-hold
      margin-top: -185px
      h3
        font-size: 16px
        margin: 0 0 15px
      .main-holder
        padding: 15px 35px

    .header-section
      position: relative
      background-image: url(../img/robot-mobi.png) !important

      .visual-content
        padding: 15px 15px 20px

    .main
      .main-description
        display: none
      .main-description.mobile-description
        display: inline-block
      .main-description-2
        font-size: 16px
      .wrap-main
        width: 80%
        padding: 0

      .button-mobile
        position: relative
        display: block
        width: 100%
        height: 50px
        padding: 5px
        overflow: hidden
        border-radius: 6px
        background-color: #00454e
        transition: all .5s ease
        span
          color: white
          font-size: 23px
          font-family: "OpenSansHebrew-Bold"
          &:before
            content: ''
            //width: 13px
            height: 15px
            width: 15px
            border-left: 5px solid #ffc20e
            border-bottom: 5px solid #ffc20e
            display: inline-block
            vertical-align: middle
            transform: rotate(135deg)
            position: absolute
            top: 21px
            left: 20px

    .main-items
      h3
        font-size: 27px

    .footer
      .content
        h3
          padding: 0px 22px

    .thank-page
      .logo
        width: 130px

      .header-section
        background-image: url(../img/bac-thx-mobi.png) !important
        min-height: 667px
      .visual-text
        padding: 10px 0 0

    .gofman-link
      a
        .copyrate
          font-size: 12px

    .items-list.mobile
      li
        &:after
          right: 46%


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .visual-content
    .title-header
      font-size: 18px
      .logo
        width: 64px
        height: 24px
    .description-header
      font-size: 22px

  .main
    .button-mobile
      span
        &:before
          content: ''
          height: 12px
          width: 12px
          border-left: 4px solid #ffc20e
          border-bottom: 4px solid #ffc20e
          display: inline-block
          vertical-align: middle
          -webkit-transform: rotate(135deg)
          -ms-transform: rotate(135deg)
          transform: rotate(135deg)
          position: absolute
          top: 22px
          left: 8px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/




